<form [formGroup]="quizForm" (ngSubmit)="onSubmit()">

  <mat-card>

    <mat-card-header>

    </mat-card-header>

    <mat-card-content>

      <div>

        <mat-form-field appearance="outline">
          <mat-label>Quiz Title</mat-label>
          <input matInput id="createTitle" formControlName="title">
        </mat-form-field>
      </div>

      <div>

        <mat-form-field appearance="outline">
          <mat-label>Author</mat-label>
          <mat-select id="createUserId" formControlName="user">
            <mat-option class="option" *ngFor="let user of users" value="{{user._id}}">{{user.username}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <!--QUESTIONS SECTION-->
      <div formArrayName="questions">
        <div *ngFor="let questionControl of quizForm.controls.questions.controls; let i=index">
          <div [formGroupName]="i">

            <mat-form-field appearance="outline" style="margin-top: 10px">
            <mat-label>Question</mat-label>
            <input matInput id="createQuestionTitle" formControlName="title">
            </mat-form-field>
            <!--OPTIONS SECTION-->
            <div formArrayName="options">
              <div *ngFor="let optionControl of questionControl.controls.options.controls; let j=index">
                <div [formGroupName]="j">

                  <mat-form-field>
                  <input matInput id="createAnswerTitle" placeholder="Answer" formControlName="answer">
                  </mat-form-field>
                  <mat-checkbox  id="createAnswerCorrect" formControlName="correct">Correct
                  </mat-checkbox>
                </div>
              </div>
            </div>

            <button mat-raised-button id="createNewOption" color="primary" style="margin: 5px" type="button" (click)="newOption(i)">Add Option</button>
            <!--END OPTIONS SECTION-->

          </div>
        </div>
      </div>

      <button mat-raised-button id="createNewQuestion" color="primary" style="margin: 5px" type="button" (click)="newQuestion()">Add Question</button>
      <!--END QUESTIONS SECTION-->


    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>

      <button mat-raised-button color="primary" type="submit">Save Quiz</button>
    </mat-card-actions>
  </mat-card>


</form>
