@import '../neptunepurple-candy.scss';

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

::ng-deep mat-toolbar {
  background-color: $neptune-candy-card-background-color !important;
}

::ng-deep mat-toolbar button {
  background-color: $neptune-candy-primary-color !important;
  margin-left: 10px !important;
}

mat-option {
  //background-color: $neptune-candy-card-background-color;
}

::ng-deep .mat-select-panel {
  background: $neptune-candy-background-color !important;
}

::ng-deep .mat-form-field .mat-form-field-infix {
  width:  300px !important;
}
